<!DOCTYPE html>
<html>
<head>
  
  <meta charset="utf-8">
  <title>Real-Time Products</title>
</head>
<body>

  <script src="/socket.io/socket.io.js"></script>
  <h1>Real-Time Products</h1>

  <ul id="productList">
    {{#each products}}
    <li>{{this.title}} - {{this.price}}</li>
    
    {{/each}}
  </ul>

  <form action="/realtimeproducts" method="POST">
    <input type="text" name="title" placeholder="Título">
    <input type="text" name="price" placeholder="Precio">
    <button type="submit">Agregar Producto</button>
  </form>

  <script src="/js/socket.js"></script>

</body>
</html>
