<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Real-Time Products</title>
</head>
<body>
  <h1>Real-Time Products</h1>

  <table>
    <thead>
      <tr>
        <th>Título</th>
        <th>Precio</th>
        <th>Categoría</th>
      
      </tr>
    </thead>
    <tbody>
      {{#each products}}
      <tr>
        <td>{{this.title}}</td>
        <td>{{this.price}}</td>
        <td>{{this.category}}</td>
       
      </tr>
      {{/each}}
    </tbody>
  </table>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/js/socket.js"></script>
</body>
</html>
