<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Real-Time Products</title>
</head>
<body>
  <script src="/socket.io/socket.io.js"></script>
  <h1>Real-Time Products</h1>

  <ul id="productList">
    {{#each products}}
    <li id="product-{{this.id}}">
      <p>Título: {{this.title}}</p>
      <p>Precio: {{this.price}}</p>
      <button class="delete-button" data-product-id="{{this.id}}">Eliminar</button>
    </li>
    {{/each}}
  </ul>

  <form action="/realtimeproducts" method="POST">
    <input type="text" name="title" placeholder="Título">
    <input type="text" name="price" placeholder="Precio">
    <button type="submit">Agregar Producto</button>
  </form>

  <script src="/js/delete.js"></script>
  <script src="/js/socket.js"></script>
</body>
</html>
