<h2>Login</h2>

<section class="loginSystem">
    <form action="/api/sessions/" method="POST" class="form">

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>

        <input type="submit" value="Sign In">
    </form>
    <a href="api/sessions/github" class="socialButton">
        <img src="./img/github.png" alt="Logo de GitHub" class="socialImg">
        <div>
            <p>GITHUB</p>
        </div>
    </a>

    <a href="/register">You don't have an account? <span class="bold">Sign up</span></a>
    <a href="/recoverypassword" class="bold">Forgot your password?</a>

    {{#if hasError}}
    <p class="infoMessage">ยก{{messageError}}!</p>
    {{/if}}
</section>